<aside
  class="sidebar"
  [class.mobile]="isMobile"
  [class.mobile-open]="isMobile && isOpen"
  [class.expanded]="isExpanded()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="brand-row">
    <div class="brand-icon">LM</div>
    @if (isExpanded()) {
      <div class="brand-text">
        <h6>LeadMedix</h6>
        <small>Control Panel</small>
      </div>
    }
  </div>

  <ul class="menu list-unstyled m-0">
    @for (item of menuItems(); track item.label) {
      <li class="menu-node">
        @if (!item.children?.length) {
          <a
            class="menu-item"
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [title]="!isExpanded() ? item.label : ''"
            (click)="onItemClick()"
          >
            <span class="icon-wrap">
              @if (item.icon) {
                <img [src]="item.icon" [alt]="item.label + ' icon'" class="menu-icon-svg" />
              } @else {
                <i [class]="'bi ' + getIconClass(item.label)"></i>
              }
            </span>
            @if (isExpanded()) {
              <span class="menu-label">{{ item.label }}</span>
            }
          </a>
        }

        @if (item.children?.length) {
          <button
            type="button"
            class="menu-item parent-btn"
            [class.active]="isParentRouteActive(item.label)"
            (click)="toggleMenu(item.label)"
            [title]="!isExpanded() ? item.label : ''"
          >
            <span class="icon-wrap">
              @if (item.icon) {
                <img [src]="item.icon" [alt]="item.label + ' icon'" class="menu-icon-svg" />
              } @else {
                <i [class]="'bi ' + getIconClass(item.label)"></i>
              }
            </span>
            @if (isExpanded()) {
              <span class="menu-label">{{ item.label }}</span>
              <i
                class="bi bi-chevron-right parent-chevron ms-auto"
                [class.rotate]="isMenuOpen(item.label)"
              ></i>
            }
          </button>

          @if (isExpanded() && isMenuOpen(item.label)) {
            <ul class="submenu list-unstyled">
              @for (child of item.children; track child.label) {
                <li>
                  <a
                    class="submenu-item"
                    [routerLink]="child.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="onItemClick()"
                  >
                    <span class="submenu-dot"></span>
                    <span>{{ child.label }}</span>
                  </a>
                </li>
              }
            </ul>
          }
        }
      </li>
    }
  </ul>
</aside>
